{{#if isGroupContainer}}
  {{yield}}
{{else}}
  {{#each items as |item|}}
    {{#if item.divider}}
      {{yield item yieldDivider}}
    {{else}}
      {{#mdc-list/item
        href=item.href
        nav=nav
        permanentDrawer=permanentDrawer
        persistentDrawer=persistentDrawer
        selected=item.selected
        temporaryDrawer=temporaryDrawer
      }}
        {{#if hasStartDetail}}
          <span class="mdc-list-item__start-detail" role="presentation">{{yield item yieldStartDetail}}</span>
        {{/if}}
        {{#if twoLines}}
          <span class="mdc-list-item__text">
            {{yield item yieldPrimary}}
            <span class="mdc-list-item__text__secondary">{{yield item yieldSecondary}}</span>
          </span>
        {{else}}
          {{yield item yieldPrimary}}
        {{/if}}
        {{#if hasEndDetail}}
          <span class="mdc-list-item__end-detail">{{yield item yieldEndDetail}}</span>
        {{/if}}
      {{/mdc-list/item}}
    {{/if}}
  {{/each}}
{{/if}}